/* Загальні стилі */
body {
    font-family: 'Roboto', sans-serif;
    color:#666;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Стилі для заголовків */
h1 {
    color: #4D5AE5;
    font-size: 30px;
    margin-top: 0;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

h2 {
    color: #666;
    font-size: 22px;
    margin-top: 0;
}

p {
    color: #666;
    font-size: 18px;
    margin-top: 0;
}


/* Стилі для header-розділу */
header {
    background-color: #f8f9fa; /* Опційно, залежить від вашого дизайну */
    position: fixed; /* Зробить елемент фіксованим */
    top: 0; /* Вказує верхній край відносно батьківського елемента */
    left: 0; /* Вказує лівий край відносно батьківського елемента */
    width: 100%; /* Займе всю ширину вікна браузера */
    z-index: 1000; /* Зробить елемент вище за інші елементи */
}

.page-header .container {
    display: flex;
    align-items: center; /* Відцентрування по вертикалі */
    justify-content: space-between; /* Розміщення на одній лінії та вирівнювання по горизонталі з рівними проміжками між елементами */
    padding: 20px; /* Потрібний відступ від країв */
}

/* Стилі для h1 */
.page-header h1 {
    margin: 0; /* Видаляє зовнішній відступ у h1 */
    padding: 0; /* Видаляє внутрішній відступ у h1 */
    line-height: 1; /* Встановлює висоту рядка як 1, щоб відсутність додаткових проміжків */
}

/* Стилі для кнопки замовлення */
.order-button {
    margin-left: auto; /* Переміщує кнопку справа */
    height: 100%; /* Встановлює висоту кнопки рівною висоті хедеру */
}


/* Стилі для першого екрана */
.first-screen {
    text-align: center;
    padding-top: 100px;
    background-image: #fff;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.first-screen h1 {
    font-size: 60px;
    font-weight: bold;
    margin-top: 0;
}

.first-screen h2 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 50px;
}

.first-screen img {
    max-width: 100%;
    height: auto;
}

.first-screen p {
    font-size: 70px;
    color: #666;
    margin-top: 15px;
}

/* Стилі для цін */
.prices {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
}

.prices h3 {
    font-size: 18px;
    color: #4D5AE5;
}

.prices p {
    font-size: 24px;
}

.prices del {
    color: #999; /* Колір для перекресленого тексту */
}


/* Стилі для кнопок */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    color:#FFF;
font-family: "Roboto", sans-serif;
font-weight: 500;
line-height: 20px; /* 150% */
letter-spacing: 0.64px;
background: #4D5AE5;
padding: 8px 16px 8px 16px;
background-color:#4D5AE5;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
min-width: 169px;
height: 36px;
border: none;
margin: 0 auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
    background-color: #0056b3;
}

/* Стилі для форми */

.order-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh; /* Висота екрану */
    margin-top: 10px; /* Простір над формою */

}
.order-form {
    width: 80%; /* Ширина форми */
    max-width: 400px; /* Максимальна ширина */
    padding: 20px; /* Відступи */
    border: 1px solid #ccc; /* Рамка */
    border-radius: 8px; /* Радіус кутів */
    text-align: center; /* Вирівнювання тексту по центру */
}
.order-form form {
    width: 100%; /* Збільшення ширини форми на весь доступний простір */
}

input[type="text"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Завершальна ширина, що включає границі та внутрішні відступи */
}


/* Стилі для блоків */
.first-screen,
.order-form,
.benefits,
.product-features,
.media,
.order-process {
    margin-bottom: 40px;
}

.media img {
    max-width: 100%;
    height: auto;
}

.media video {
    max-width: 100%;
}

/* Футер */
footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}

/* Медіа-запити для адаптивного дизайну */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    button {
        font-size: 16px;
    }
}




/* Стилі для блоку розв'язання проблем та переваг */
.benefits h1 {
    text-align: center;
}


.benefits ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Відцентровує елементи по ширині */
    padding: 0;
    list-style-type: none; /* Відміна маркерів списку */
}

.benefits li {
    width: calc(50% - 20px); /* Розраховує ширину елементів з урахуванням маржинів */
    margin: 10px; /* Маржини між елементами */
    padding: 20px; /* Додатковий відступ всередині блоку */
    background-color: #f8f9fa; /* Фоновий колір блоку */
    border-radius: 10px; /* Закругленість кутів */
    box-sizing: border-box; /* Завершальна ширина, що включає границі та внутрішні відступи */
    text-align: center; /* Відцентрування тексту */
}

@media screen and (max-width: 768px) {
    .benefits li {
        width: calc(50% - 20px); /* На екранах ширше 768px розмір блоків буде 50% */
    }
}

@media screen and (max-width: 550px) {
    .benefits li {
        width: calc(100% - 20px); /* На екранах ширше 550px розмір блоків буде 100% */
    }
}

.benefits li h2 {
    font-size: 24px;
}

.benefits h3 {
    margin-top: 0;
    font-size: 24px;
    color: #4D5AE5;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}



/* Стилі для блоків з фото та відео товару */
.media {
    display: flex;
    flex-wrap: wrap; /* Дозволяє перенесення елементів на новий рядок */
}

@media screen and (min-width: 768px) {
    .media {
        justify-content: space-between; /* Рівномірно розподіляє елементи по ширині контейнера */
    }

    .media img,
    .media video {
        width: calc(50% - 10px); /* Розраховує ширину елементів з урахуванням маргіну */
        margin-bottom: 20px; /* Додатковий маржин між елементами */
    }
}
